<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Your data</title>
		<link type="text/css" rel="stylesheet" href="index-login.css">
        <script type="text/javascript" src="/login.js"></script>
	</head>


    <body>
        <div >
            <div class="Register-wrapper">
                <form action="/login" method="post" accept-charset="utf-8" class="form">
                    <div class="box">
                        <div class="text">
                            <h1>LOG IN</h1>
                        </div>
                       
                            <div class="from-login">
                                <input type="text" id="username" placeholder="Username"required>
                            </div>
                    
                            <div class="from-login">
                                <input type="text" id="password" placeholder="Password"required>
                            </div>
                    
                    
                            <div class="button">
                                <input type="submit" value="Login">
                            </div>
                        </div>
                    </div>
                </from>
    
            </div>
    
    
           

    
